.cart {
    &-table {
        &-header {
            font-size: 13px;
            line-height: 23px;
            color: var(--menu-color);
            font-weight: 500;
            @media (max-width: $lg) {
                display: none;
            }
        }
        &-body {
            margin-bottom: .75rem;
            @media (max-width: $lg) {
                margin-bottom: 0;
            }
        }
        &-footer {
            background-color: var(--section-color);
            padding: 1.5rem 2.5rem;
            text-align: right;
            @media (max-width: $md) {
                text-align: left;
                padding: 1.5rem 2rem;
            }
            @media (max-width: $sm) {
                text-align: left;
                padding: 1.5rem;
            }
            &-small {
                font-size: 14px;
                line-height: 24px;
                color: var(--menu-color);
                font-weight: 400;
                margin-bottom: .5rem;
                @media (max-width: $sm) {
                    margin-bottom: .25rem;
                }
            }
            &-large {
                font-size: 17px;
                line-height: 24px;
                color: var(--primary-color);
                font-weight: 500;
                margin-bottom: 0;
                span {
                    font-size: 24px;
                    font-weight: 700;
                    display: inline-block;
                }
            }
        }
        &-row {
            position: relative;
            display: flex;
            align-items: center;
            gap: .5rem 0;
            border-bottom: 1px solid var(--border-color);
            padding: .75rem 0;
            justify-content: space-between;
            @media (max-width: $lg) {
                flex-wrap: wrap;
                padding: 0 0 .75rem;
                margin-bottom: .75rem;
                gap: .25rem 0;
                &:last-child {
                    border-bottom: 0;
                    margin-bottom: 0;
                }
            }
        }
        &-col {
            padding: 0 .75rem;
            @media (max-width: $xxl) {
                padding: 0 .5rem;
            }
            @media (max-width: $lg) {
                width: 100% !important;
                &::before {
                    content:attr(data-title);
                    font-size: 14px;
                    line-height: 24px;
                    color: var(--menu-color);
                    font-weight: 400;
                }
            }
            &-image {
                width: 10%;
                @media (max-width: $lg) {
                    margin-bottom: .5rem;
                }
                img {
                    height: 90px;
                    object-fit: scale-down;
                }
            }
            &-name {
                width: 45%;
                @media (max-width: $xxl) {
                    width: 37.5%;
                }
                @media (max-width: $lg) {
                    margin-bottom: .5rem;
                }
                &-sale {
                    @extend .header-menu-link-icon;
                    display: inline-flex !important;
                    width: 24px !important;
                    margin-right: 0 !important;
                    margin-left: .3rem;
                    position: relative;
                    background-color: var(--highlight-color);
                    svg {
                        fill: var(--light-color);
                    }
                    &-content {
                        display: none;
                        position: absolute;
                        bottom: 100%;
                        left: 50%;
                        transform: translateX(-50%);
                        background-color: var(--section-color);
                        padding: 0.75rem 1rem;
                        margin-bottom: 0.5rem;
                        min-width: 300px;
                        * {
                            color: var(--primary-color) !important;
                        }
                    }
                    &:hover &-content {
                        display: block;
                    }
                }
                a, span {
                    display: block;
                    font-size: 15px;
                    line-height: 24px;
                    color: var(--secondary-color);
                    @include widthFit();
                }
                span .timer {
                    font-size: 15px;
                    line-height: 24px;
                    color: var(--highlight-color);
                    font-weight: 600;
                }
                a {
                    font-weight: 600;
                    &:hover {
                        text-decoration: none;
                        color: var(--highlight-color);
                    }
                }
                span {
                    font-weight: 400;
                }
            }
            &-quantity {
                width: 10%;
                @media (max-width: $lg) {
                    margin-bottom: .5rem;
                }
                span {
                    font-size: 14px;
                    line-height: 24px;
                    color: var(--menu-color);
                    font-weight: 400;
                }
                &-form {
                    border: 1px solid var(--border-color);
                    display: flex;
                    align-items: stretch;
                    @include widthFit();
                    input {
                        width: 50px;
                        height: 55px;
                        font-size: 13px;
                        line-height: 21px;
                        color: var(--secondary-color);
                        font-weight: 600;
                        text-align: center;
                        border-right: 1px solid var(--border-color);
                    }
                    .controls {
                        display: flex;
                        flex-direction: column;
                        align-items: stretch;
                        a {
                            font-size: 14px;
                            line-height: 21px;
                            color: var(--menu-color);
                            height: 50%;
                            text-align: center;
                            @include flexCenter();
                            padding: 0 .25rem;
                            transition: .1s;
                            &:first-child {
                                border-bottom: 1px solid var(--border-color);
                            }
                            &:hover {
                                text-decoration: none;
                                background-color: var(--border-color);
                            }
                        }
                    }
                }
            }
            &-availability {
                width: 10%;
                @media (max-width: $xxl) {
                    width: 12.5%;
                }
                span {
                    font-size: 13px;
                    line-height: 23px;
                    font-weight: 500;
                }
            }
            &-price1, &-price2 {
                width: 10%;
                @media (max-width: $xxl) {
                    width: 12.5%;
                }
                span {
                    font-size: 14px;
                    line-height: 24px;
                    color: var(--menu-color);
                    font-weight: 400;
                }
            }
            &-price2 {
                span {
                    color: var(--secondary-color);
                    font-weight: 700;
                }
            }
            &-remove {
                width: 5%;
                a {
                    svg {
                        transition: .1s;
                    }
                    &:hover {
                        text-decoration: none;
                        svg {
                            fill: var(--highlight-color);
                        }
                    }
                }
                @media (max-width: $lg) {
                    width: auto !important;
                    padding: 0 !important;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
    &-boxes {
        margin-top: 2.5rem;
        &-row {
            gap: 1rem 0;
        }
        &-item {
            background-color: var(--section-color);
            padding: 2rem;
            height: 100%;
            @media (max-width: $sm) {
                padding: 1.5rem;
            }
            &-header {
                min-height: 70px;
                margin-bottom: 1.5rem;
                @media (max-width: $sm) {
                    margin-bottom: 1.25rem;
                }
                h3 {
                    font-size: 15px;
                    line-height: 24px;
                    color: var(--secondary-color);
                    font-weight: 700;
                    margin-bottom: .25rem;
                }
                p {
                    font-size: 13px;
                    line-height: 23px;
                    color: var(--secondary-color);
                    font-weight: 500;
                    margin-bottom: 0;
                    a {
                        color: var(--secondary-color);
                    }
                }
            }
            &-facebook {
                margin-top: 1.5rem;
                img {
                    transition: .25s;
                }
                &:hover {
                    img {
                        filter: brightness(.85);
                    }
                }
            }
            &-serviceLogin {
                display: flex;
                align-items: center;
                gap: .625rem;
                padding: .375rem .75rem .375rem .5rem;
                max-width: 259px;
                background-color: var(--section-color);
                border: 1px solid var(--section-color);
                border-radius: 4px;
                color: var(--dark-color) !important;
                transition: .25s;
                font-size: 13px !important;
                &:hover {
                    text-decoration: none;
                    background-color: var(--light-color);
                }
                img {
                    height: 26px;
                    width: 26px;
                    object-fit: scale-down;
                    background-color: var(--light-color);
                    border-radius: 3px;
                    padding: 3px;
                }
                &.google {
                    background-color: #4285f4;
                    border-color: #4285f4;
                    color: var(--light-color) !important;
                    &:hover {
                        background-color: #1b71ff;
                    }
                }
            }
        }
        &-loyalty &-item-header {
            min-height: unset;
        }
    }
    &-navigation {
        &-row {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            gap: .5rem 1rem;
        }
    }
    &-product {
        position: relative;
        background-color: var(--section-color);
        padding: 2rem;
        margin-top: 2.5rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.5rem 2rem;
        @media (max-width: $sm) {
            padding: 1.5rem;
        }
        &-imagebox {
            aspect-ratio: 1/1;
            flex-shrink: 0;
            background-color: var(--light-color);
            padding: 2rem;
            @include flexCenter();
            @media (max-width: $sm) {
                padding: 1.5rem;
            }
            img {
                object-fit: scale-down;
                height: 150px;
                aspect-ratio: 1/1;
                @media (max-width: $sm) {
                    height: 125px;
                }
            }
        }
        &-name p {
            display: block;
            font-size: 20px;
            line-height: 30px;
            color: var(--secondary-color);
            margin-bottom: .5rem;
            font-weight: 600;
            @media (max-width: $sm) {
                font-size: 18px;
                line-height: 28px;
            }
        }
        &-price1 span {
            font-size: 14px;
            line-height: 20px;
            color: var(--menu-color);
            font-weight: 400;
            text-decoration: line-through;
            display: block;
        }
        &-price2 span {
            font-size: 18px;
            line-height: 24px;
            color: var(--highlight-color);
            font-weight: 700;
            display: block;
        }
        &-buy {
            margin-top: 1.5rem;
            @media (max-width: $sm) {
                margin-top: 1rem;
            }
        }
        &-close {
            position: absolute;
            top: 2rem;
            right: 2rem;
            @media (max-width: $sm) {
                top: 1.5rem;
                right: 1.5rem;
            }
            svg {
                transition: 0.1s;
            }
            &:hover svg {
                fill: var(--highlight-color);
            }
        }
    }
}