.page-product {
    &-top {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        @media (max-width: $lg) {
            flex-direction: column;
        }
        .productImages {
            flex: 0 0 auto;
            width: 65%;
            display: flex;
            align-items: stretch;
            @media (max-width: $xl) {
                width: 60%;
                flex-direction: column-reverse;
                padding-right: 3rem;
            }
            @media (max-width: $lg) {
                width: 100%;
                padding-right: 0;
                margin-bottom: 3rem;
            }
            @media (max-width: $md) {
                margin-bottom: 2rem;
            }
            &-set {
                margin-right: 3rem;
                @media (max-width: $xl) {
                    margin-right: 0;
                }
                &-row {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 1.25rem 1rem;
                    @media (max-width: $xxl) {
                        grid-template-columns: repeat(2, 1fr);
                    }
                    @media (max-width: $xl) {
                        grid-template-columns: repeat(3, 1fr);
                    }
                    @media (max-width: $lg) {
                        grid-template-columns: repeat(2, 1fr);
                    }
                    @media (max-width: 450px) {
                        grid-template-columns: 1fr;
                    }
                }
                &-item {
                    position: relative;
                    &:hover {
                        text-decoration: none;
                    }
                    &-top {
                        border-radius: 3px;
                        border: 1px solid var(--border-color);
                        padding: 2rem;
                        margin-bottom: 0.8rem;
                        aspect-ratio: 1 / 1.2;
                        @include flexCenter();
                    }
                    &-number {
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: var(--highlight-color);
                        color: var(--light-color);
                        padding: .5rem;
                        text-align: center;
                        font-size: 28px;
                        line-height: 36px;
                        font-weight: 600;
                        @include flexCenter();
                        border-radius: 3px;
                        width: 52px;
                        aspect-ratio: 1/1;
                    }
                    &-text {
                        h3 {
                            @extend .products-item-title;
                        }
                        p {
                            color: var(--primary-color);
                            font-size: 13px;
                            line-height: 23px;
                            font-weight: 400; 
                            margin-bottom: 0;
                        }
                    }
                }
            }
            &-slider {
                flex-shrink: 0;
                width: 156px;
                position: relative;
                @media (max-width: $xxl) {
                    width: 123px;
                }
                @media (max-width: $xl) {
                    width: 80%;
                    margin: 1rem auto 0;
                }
                @media (max-width: $sm) {
                    width: 85%;
                    margin: .5rem auto 0;
                }
                @media (max-width: 350px) {
                    width: 80%;
                }
                &-item {
                    border: 1px solid var(--border-color);
                    padding: 1.5rem;
                    @media (max-width: $sm) {
                        padding: 1rem;
                    }
                    img {
                        transform: rotate(-90deg);
                        aspect-ratio: 1/1;
                        object-fit: scale-down;
                        @media (max-width: $xl) {
                            transform: none;
                        }
                    }
                }
            }
            &-owl {
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
                transform: rotate(90deg);
                width: 500px;
                @media (max-width: $xxl) {
                    width: 400px;
                }
                @media (max-width: $xl) {
                    position: unset;
                    transform: none;
                    translate: none;
                    width: unset;
                }
                .owl-nav {
                    button {
                        position: absolute;
                        top: 50%;
                        @include flexCenter();
                        background-color: var(--light-color) !important;
                        width: 20px;
                        aspect-ratio: 1/1;
                        transition-duration: 0.15s;
                        &.disabled {
                            opacity: 0;
                            visibility: hidden;
                        }
                        svg, path {
                            fill: var(--primary-color);
                        }
                        &.owl-next {
                            right: -1.5rem;
                            transform: translate(50%,-50%);
                            @media (max-width: $sm) {
                                right: -1.25rem;
                            }
                        }
                        &.owl-prev {
                            left: -1.5rem;
                            transform: translate(-50%,-50%);
                            @media (max-width: $sm) {
                                left: -1.25rem;
                            }
                            svg {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
            &-main {
                position: relative;
                flex-shrink: 1;
                width: 100%;
                margin: 0 3rem;
                @media (max-width: $xxl) {
                    margin: 0 2rem;
                }
                @media (max-width: $xl) {
                    margin: 0;
                }
                &-imagebox {
                    @include flexCenter();
                    border: 1px solid var(--border-color);
                    padding: 5rem;
                    @media (max-width: $sm) {
                        padding: 3rem;
                    }
                    img {
                        width: 100%;
                        aspect-ratio: 1/1;
                        object-fit: scale-down
                    }
                }
                &-favourite {
                    position: absolute;
                    right: .75rem;
                    top: .75rem;
                    button {
                        background-color: var(--section-color);
                        width: 38px;
                        aspect-ratio: 1/1;
                        border-radius: 50%;
                        @include flexCenter();
                        svg {
                            fill: var(--dark-color);
                            max-width: 20px;
                            transition: .3s;
                        }
                        &:hover svg, .active svg {
                            fill: var(--highlight-color);
                        }
                        @keyframes pulse {
                            0% {transform: scale(1)}
                            12.5% {transform: scale(1.1)}
                            35% {transform: scale(1.0)}
                            50% {transform: scale(1.1)}
                            60% {transform: scale(1)}
                            75% {transform: scale(1.1)}
                            100% {transform: scale(1)}
                        }
                        &:hover svg {
                            animation: pulse 3s;
                        }
                    }
                }
                &-tags {
                    @extend .products-item-tags;
                }
            }
        }
        .productInformation {
            flex: 0 0 auto;
            width: 35%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            @media (max-width: $xl) {
                width: 40%;
            }
            @media (max-width: $lg) {
                width: 100%;
            }
            h3 {
                font-size: 15px;
                line-height: 22px;
                color: var(--primary-color);
                font-weight: 700;
                margin-bottom: .75rem;
            }
            &-top {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
            &-availability {
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: .5rem 1.25rem;
                    li {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                        font-size: 13px;
                        line-height: 20px;
                        color: var(--menu-color);
                        font-weight: 600;
                        &.active {
                            color: var(--ok-color);
                            svg {
                                fill: var(--ok-color);
                            }
                        }
                    }
                }
            }
            &-tags {
                &-row {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 1rem;
                }
                &-item {
                    border: 1px solid var(--primary-color);
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    padding: .5rem .75rem;
                }
                p {
                    font-size: 13px;
                    line-height: 20px;
                    color: var(--primary-color);
                    font-weight: 500;
                    margin-bottom: 0;
                }
            }
            &-gift {
                &-row {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 1rem;
                }
                &-item {
                    border: 1px solid var(--primary-color);
                    position: relative;
                    padding: 1.5rem;
                    overflow: hidden;
                    @media (max-width: $lg) {
                        overflow: visible;
                        margin-bottom: 43px;
                    }
                    @media (max-width: $sm) {
                        padding: 1rem;
                    }
                    &-link {
                        position: absolute;
                        bottom: 0;
                        left: -1px;
                        right: -1px;
                        margin: 0 auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: .5rem;
                        padding: .4rem;
                        transform: translateY(100%);
                        background-color: var(--highlight-color);
                        color: var(--light-color);
                        font-size: 12px;
                        line-height: 15px;
                        font-weight: 500;
                        @media (max-width: $lg) {
                            transform: translateY(100%) !important;
                        }
                        span {
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }
                        &, svg {
                            transition: all ease-in-out .25s;
                        }
                        svg {
                            fill: var(--light-color);
                            flex-shrink: 0;
                            margin-right: .25rem;
                        }
                        &:hover {
                            svg {
                                margin: 0 -.05rem 0 .3rem;
                            }
                        }
                    }
                    &:hover .productInformation-gift-item-link {
                        transform: translateY(0);

                    }
                    @include flexCenter();
                    .tick {
                        position: absolute;
                        top: -1px;
                        left: -1px;
                        width: 22px;
                        aspect-ratio: 1/1;
                        border: 1px solid var(--primary-color);
                        @include flexCenter();
                        background-color: var(--light-color);
                        padding: .25rem;
                        svg {
                            opacity: 0;
                            visibility: hidden;
                            transition: .25s;
                        }
                    }
                    &.selected .tick {
                        svg {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    img {
                        object-fit: scale-down;
                        aspect-ratio: 1/1;
                        width: 100%;
                    }
                }
            }
            &-price {
                background-color: var(--section-color);
                padding: 1rem 1.75rem;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                min-height: 100px;
                gap: .75rem 0;
                @media (max-width: $sm) {
                    padding: 1rem 1.25rem;
                }
                &-left {
                    flex: 0 0 auto;
                    width: 35%;
                    @media (max-width: $xxl) {
                        width: 40%;
                    }
                    @media (max-width: $lg) {
                        width: 60%;
                    }
                    @media (max-width: $md) {
                        width: 50%;
                    }
                    @media (max-width: $sm) {
                        width: 40%;
                    }
                    @media (max-width: 400px) {
                        width: 100%;
                    }
                    &-default {
                        color: var(--primary-color);
                        font-size: 26px;
                        line-height: 32px;
                        letter-spacing: -.5px;
                        color: var(--primary-color);
                        font-weight: 700;
                        margin-bottom: 0;
                        span {
                            font-size: 13px;
                            line-height: 18px;
                            font-weight: 600;
                            display: block;
                        }
                    }
                    &-old {
                        font-size: 13px;
                        line-height: 18px;
                        text-decoration: line-through;
                        color: var(--menu-color);
                        font-weight: 500;
                        margin-bottom: 0;
                    }
                    & > *:last-child {
                        margin-bottom: 0;
                    }
                }
                &-right {
                    flex: 0 0 auto;
                    width: 65%;
                    @media (max-width: $xxl) {
                        width: 60%;
                    }
                    @media (max-width: $lg) {
                        width: 40%;
                    }
                    @media (max-width: $md) {
                        width: 50%;
                    }
                    @media (max-width: $sm) {
                        width: 60%;
                    }
                    @media (max-width: 400px) {
                        width: 100%;
                    }
                }
                &-addToCart {
                    background-color: var(--highlight-color);
                    font-size: 15px;
                    line-height: 28px;
                    color: var(--light-color);
                    font-weight: 700;
                    width: 100%;
                    padding: .75rem 1rem;
                    position: relative;
                    overflow: hidden;
                    @include flexCenter();
                    @media (max-width: 400px) {
                        max-width: 200px;
                    }
                    svg {
                        z-index: 999;
                        fill: var(--light-color);
                        width: 0;
                        transition: .3s;
                        margin-right: 0;
                    }
                    &:hover svg {
                        width: 24px;
                        margin-left: .5rem;
                    }
                }
            }
        }
    }
    &-main {
        &-header {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;
                @media (max-width: $lg) {
                    flex-direction: column;
                }
                li {
                    width: 20%;
                    @media (max-width: $lg) {
                        width: 100%;
                        &:not(:last-child) {
                            border-bottom: 1px solid var(--border-color);
                        }
                    }
                    &:hover a::after, &.active a::after {
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }
                }
                a {
                    cursor: pointer;
                    display: block;
                    font-size: 14px;
                    line-height: 20px;
                    text-transform: uppercase;
                    color: var(--primary-color);
                    font-weight: 700;
                    text-align: center;
                    padding: 1rem 0;
                    text-decoration: none;
                    position: relative;
                    @media (max-width: $lg) {
                        text-align: left;
                        padding: .8rem 1rem;
                        font-size: 13px;
                        text-transform: unset;
                    }
                    &::before {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: 1px;
                        content: "";
                        display: block;
                        background-color: var(--border-color);
                        @media (max-width: $lg) {
                            content: none;
                        }
                    }
                    &::after {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: 1px;
                        content: "";
                        display: block;
                        background-color: var(--primary-color);
                        transform: scaleX(0);
                        transform-origin: bottom right;
                        transition: transform 0.25s ease-out;
                        @media (max-width: $lg) {
                            content: none;
                        }
                    }
                }
            }
            &-dropdown {

            }
        }
        &-body {
            padding-top: 2.5rem;
            @media (max-width: $lg) {
                padding-top: 1.5rem;
            }
        }
        &-text {
            border-right: 1px solid var(--border-color);
            margin-right: 1.5rem;
            padding-right: 7.5rem;
            height: 100%;
            @media (max-width: $xxl) {
                padding-right: 5rem;
            }
            @media (max-width: $xl) {
                border-right: 0;
                padding-right: 0;
                margin-right: 0;
                margin-bottom: 2rem;
            }
        }
        &-categories {
            margin-bottom: 2rem;
            p {
                font-size: 14px;
                line-height: 24px;
                color: var(--secondary-color);
                font-weight: 600;
                margin-bottom: 0;
                a {
                    color: var(--secondary-color);
                    &:hover {
                        text-decoration: none;
                        color: var(--highlight-color);
                    }
                }
                b, strong {
                    font-weight: 600;
                }
            }
        }
        &-item {
            display: none;
            &.active {
                display: block;
            }
        }
        &-parameters {
            h3 {
                display: flex;
                align-items: center;
                gap: .75rem;
                font-size: 15px;
                line-height: 22px;
                color: var(--primary-color);
                font-weight: 700;
            }
            ul {
                list-style: none;
                padding: .5rem 0 0 .65rem;
                margin: 0;
                li {
                    display: flex;
                    align-items: flex-start;
                    &::before {
                        content: "";
                        display: block;
                        flex-shrink: 0;
                        width: 9px;
                        height: 2px;
                        background-color: var(--menu-color);
                        margin: 0.65rem 0.65rem 0.65rem 0;
                    }
                }
            }
        }
        &-button {
            &.active {
                @media (max-width: $lg) {
                    display: none;
                }
            }
        }
    }
    .productVariants {
        margin-left: 156px;
        margin-right: 35%;
        @media (max-width: $xl) {
            margin: 0;
        }
        &-owl {
            margin: 1.25rem auto 0;
            position: relative;
            width: 500px;
            @media (max-width: $xxl) {
                width: 400px;
            }
            @media (max-width: $xl) {
                width: 410px;
            }
            @media (max-width: $lg) {
                width: 80%;
            }
            @media (max-width: $sm) {
                width: 85%;
            }
        }
        &-item {
            border: 1px solid var(--border-color);
            padding: 1.5rem;
            width: 100%;
            @media (max-width: $sm) {
                padding: 1rem;
            }
            img {
                aspect-ratio: 1/1;
                object-fit: scale-down;
            }
        }
        .owl-item:nth-child(1):last-child,
        .owl-item:nth-child(2):last-child {
            margin-right: 0 !important;
        }
        .owl-carousel {
            display: flex !important;
            flex-direction: row;
            justify-content: center;
        }
        .owl-nav {
            position: unset !important;
            transform: none !important;
            button {
                position: absolute;
                top: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--light-color) !important;
                width: 20px;
                aspect-ratio: 1/1;
                transition-duration: 0.15s;

                &.owl-next {
                    right: -1.5rem;
                    @media (max-width: $sm) {
                        right: -1.25rem;
                        transform: translate(50%, -50%) !important;
                    }
                }
                &.owl-prev, &.owl-next {
                    &.disabled {
                        visibility: hidden !important;
                    }
                }
                &.owl-prev {
                    left: -1.5rem;
                    @media (max-width: $sm) {
                        left: -1.25rem;
                        transform: translate(-50%, -50%) !important;
                    }
                }

                path {
                    fill: var(--primary-color);
                }
            }
        }
    }
}