.footer {
    border-top: 1px solid var(--border-color-dark);
    border-bottom: 1px solid var(--border-color-dark);
    &-main {
        padding: 4rem 0 5rem;
        @media (max-width: $xl) {
            margin-bottom: -2rem;
            padding: 4rem 0;
        }
        @media (max-width: $md) {
            padding: 2.5rem 0;
        }
    }
    &-item {
        @media (max-width: $xl) {
            margin-bottom: 2rem;
        }
        h3 {
            color: var(--light-color);
            font-size: 14px;
            line-height: 24px;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        &-menu {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }
            a, p {
                color: var(--tertiary-color);
                font-size: 13px;
                line-height: 28px;
                font-weight: 400;
            }
        }
    }
    &-box {
        &-title {
            font-size: 14px;
            letter-spacing: 0px;
            line-height: 28px;
            color: var(--primary-color);
            font-weight: 700;
            margin-bottom: 0;
        }
    }
    &-payment {
        display: flex;
        align-items: center;
        gap: 1rem 2rem;
        background-color: var(--light-color);
        padding: 2rem;
        @media (max-width: $xxl) {
            align-items: flex-start;
            flex-direction: column;
        }
        @media (max-width: $md) {
            padding: 1.5rem;
            align-items: center;
        }
        &-main {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 2rem;
            flex: 1;
            @media (max-width: $xxl) {
                width: 100%;
            }
        }
        &-methods, &-logos {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        &-methods {
            gap: 1rem 2rem;
            @media (max-width: $xxl) {
                gap: 1rem;
            }
            @media (max-width: $md) {
                flex-direction: column;
                align-items: center;
                width: 100%;
            }
            &-item {
                display: flex;
                align-items: center;
                gap: .25rem .75rem;
                @media (max-width: $md) {
                    flex-direction: column;
                }
                span {
                    font-size: 14px;
                    line-height: 28px;
                    color: var(--primary-color);
                    font-weight: 500;
                }
            }
        }
        &-logos {
            gap: .75rem 1.5rem;
            @media (max-width: $md) {
                width: 100%;
                justify-content: center;
            }
        }
    }
    &-socials {
        width: fit-content;
        margin: 0 auto;
        padding: 3rem 0;
        display: flex;
        align-items: center;
        gap: 1.25rem;
        @media (max-width: $md) {
            padding: 2rem 0;
        }
        @media (max-width: $sm) {
            flex-direction: column;
            gap: 0;
        }
        h4 {
            color: var(--light-color);
            @media (max-width: $sm) {
                font-size: 14px;
                line-height: 24px;
                text-transform: uppercase;
                font-weight: 700;
                margin-bottom: 1rem;
            }
        }
        &-row {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;
        }
        &-item {
            border: 1px solid var(--border-color-dark);
            border-radius: 50%;
            width: 42px;
            aspect-ratio: 1/1;
            padding: .5rem;
            @include flexCenter();
            transition-duration: 0.25s;
            &:hover {
                background-color: var(--border-color-dark);
            }
            svg {
                width: 18px;
                object-fit: scale-down;            
                path {
                    fill: var(--tertiary-color);
                }
            }
        }
    }
    &-cooperation {
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: fit-content;
        h4 {  
            color: var(--light-color);
            @media (max-width: $sm) {
                font-size: 14px;
                line-height: 24px;
                text-transform: uppercase;
                font-weight: 700;
                margin-bottom: 1rem;
            }
        }
        img {
            width: 260px;
        }
        @media (max-width: $md) {
            padding-bottom: 2rem;
            img {
                width: 175px;
            }
        }
        @media (max-width: $sm) {
            flex-direction: column;
        }
    }
    &-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 2rem;
    }
    @media (max-width: $md) {
        &-bottom {
            grid-template-columns: 1fr;
        }
    }
}
.copyright {
    text-align: center;
    padding: 2rem 0;
    p {
        margin-bottom: 0;
        color: var(--tertiary-color);
        font-size: 13px;
        line-height: 21px;
        font-weight: 400;
        a {
            color: var(--tertiary-color);
        }
        span {
            &:not(:last-child)::after {
                content: " | ";
                @media (max-width: $sm) {
                    content: none;
                }
            }
            @media (max-width: $sm) {
                display: block;
            }
        }
    }
}