.filters {
    &-row {
        display: flex;
        flex-wrap: wrap;
        gap: 1.33rem;
        @media (max-width: $xxl) {
            gap: .5rem;
        }
        @media (max-width: $xl) {
            width: 100%;
        }
        &-fastboxes {
            @media (max-width: $md) {
                flex-direction: column;
            }
            @media (max-width: $xl) {
                & > div {
                    min-width: 0;
                    max-width: calc( (100% - 1rem) / 3);
                    width: 100%;
                    flex: 0 0 auto;
                }
            }
            @media (max-width: $md) {
                & > div {
                    max-width: 100%;
                    width: 100%;
                }
            }
        }
    }
    &-outer {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: $xxl) {
            gap: 1rem;
        }
    }
    &-item {
        position: relative;
        min-width: 200px;
        @media (max-width: $xxl) {
            min-width: 175px;
        }
        @media (max-width: $sm) {
            min-width: 0;
            width: 100%;
        }
        &-counter {
            display: inline-block;
            font-size: 12px;
            line-height: 14px;
            color: var(--tertiary-color);
            &:not(:empty) {
                &::after {
                    content: ")";
                }
                &::before {
                    content: "(";
                }    
            }
        }
        &-header {
            display: flex;
            align-items: center;
            padding: .5rem .33rem;
            height: 47px;
            font-size: 13px;
            color: var(--primary-color);
            font-weight: 700;
            font-family: "Poppins";
            width: 100%;
            & > span {
                padding-left: .25rem;
                color: var(--highlight-color);
                &:not(:empty) {
                    &::after {
                        content: ")";
                    }
                    &::before {
                        content: "(";
                    }    
                }
            }
            &-state {
                & > div {
                    display: none;
                    &.active {
                        display: block;
                    }
                }
            }
        }
        &-hidetext {
            @media (max-width: $xxl) {
                &-xxl {
                    min-width: 0;
                }
            }
        }
        &-content {
            position: absolute;
            top: calc(100% + 1px);
            left: 0;
            right: 0;
            width: 100%;
            box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
            background-color: var(--light-color);
            z-index: 3;
            max-height: 0;
            overflow: hidden;        
            transition: max-height 0.2s ease-out;
            &.extended {
                min-width: 275px;
            }
            &.extended &-inner {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 0 .75rem;
            }
            &-inner {
                padding: 1.25rem;
                box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
                label, &-item {
                    display: block;
                    @include widthFit();
                    font-family: "Poppins";
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 400;
                    color: var(--menu-color);
                    cursor: pointer;
                    transition-duration: .15s;
                    text-decoration: none !important;
                    &:hover {
                        color: var(--highlight-color);
                    }
                    &:not(:last-of-type) {
                        margin-bottom: .5rem;
                    }
                }
                &-item {
                    &.disabled {
                        opacity: .5;
                        z-index: -1;
                        position: relative;
                    }
                    input[type=radio] {
                        z-index: -1;
                    }
                }
                &-sizing {
                    label, a {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        &:not(:last-child) {
                            margin-bottom: .75rem;
                        }
                    }
                }
                &.direction-row {
                    &-4col {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        gap: 1rem;
                        @media (max-width: $xxl) {
                            grid-template-columns: repeat(3, 1fr);
                        }
                        label {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        &-light {
            border-bottom: 1px solid var(--border-color);
        }
        &-bordered &-header {
            border: 1px solid var(--primary-color);
            padding: .66rem 1rem;
        }
        &-input &-header {
            background-color: var(--light-color);
            filter: drop-shadow(14.588px 15.106px 10.5px rgba(0, 0, 0, 0.01));
            border-radius: 3px;
            padding: 0.75rem 1.5rem;
            border: 1px solid var(--light-color);
            height: 50px;
        }
        &:not(&-noArrow) &-header {
            &::after {
                content: url("../img/icons/arrow-dropdown.svg");
                transition-duration: .2s;
                margin-left: auto;
            }
            &.activated::after {
                transform: rotate(179.9deg);
            }
        }
        select {
            appearance: none;
        }
    }
    &-chips {
        margin-top: 2rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 1rem 3rem;
        @media (max-width: $md) {
            flex-direction: column;
        }
        &-row {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            gap: .75rem;    
        }
        &-removeall {
            min-width: 133px;
            p {
                line-height: 45px !important;
                @media (max-width: $md) {
                    line-height: 24px !important;
                }
                a {
                    color: var(--menu-color) !important;
                    text-decoration: underline;
                    &:hover {
                        color: var(--highlight-color) !important;
                    }
                }
            }
        }
        &-item {
            border-radius: 3px;
            background-color: var(--section-color);
            height: 100%;
            padding: .5rem .5rem .5rem 1rem;
            display: flex;
            align-items: center;
            gap: .5rem 1rem;
            flex-wrap: wrap;
            width: fit-content;
            strong {
                font-size: 13px;
                line-height: 21px;
                color: var(--primary-color);
                font-weight: 700;
                display: block;
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: .5rem;
                li {
                    font-size: 13px;
                    line-height: 21px;
                    color: var(--menu-color);
                    font-weight: 400;
                    background-color: var(--light-color);
                    padding: .25rem .75rem;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: .25rem;                
                    a {
                        svg {
                            width: 14px;
                            &, path {
                                fill: var(--highlight-color);
                                transition: .15s;
                            }
                        }
                        &:hover {
                            svg, svg path {
                                fill: var(--dark-color);
                            }
                        }
                    }
                }
            }
        }
    }
}
.noUi {
    &-target {
        background-color: var(--section-color);
        height: 10px;
        position: relative;
        margin: .25rem 1rem 1.25rem .5rem;
    }
    &-origin {
        position: absolute;
        width: fit-content;
        top: 50%;
        transform: translateY(-50%);
    }
    &-handle {
        background-color: yellow;
        width: 8px;
        height: 20px;
        border: 1px solid var(--dark-color);
        background-color: var(--light-color);
        position: relative;
        transition: .15s;
        cursor: pointer;
        &:hover {
            background-color: var(--dark-color);
        }
    }
    &-tooltip {
        font-size: 12px;
        line-height: 20px;
        color: var(--primary-color);
        font-weight: 600;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: .25rem;
    }
}