.homepage-banner {
    @media (max-width: $sm) {
        padding: 0 0 .75rem;
    }
    .container {
        @media (max-width: $sm) {
            padding: 0;
        }
    }
    &-item {
        img {
            max-height: 505px;
            aspect-ratio: 2.77/1;
            width: 100%;
            object-fit: cover;
            object-position: left;
            @media (max-width: $md) {
                aspect-ratio: 1.77/1;
            }
        }
    }
}