.largeFilters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    &-menu {
        flex: 0 0 25%;
        @media (max-width: $lg) {
            flex: 0 0 100%;
            margin-left: 0;
            &.hide {
                display: none;
            }
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            li {
                a {
                    position: relative;
                    display: block;
                    width: 100%;
                    padding: .5rem 1rem;
                    border: 1px solid var(--border-color);
                    font-size: 13px;
                    line-height: 23px;
                    color: var(--primary-color);
                    font-weight: 700;
                    border-radius: 3px;
                    transition: .2s;
                    &:hover {
                        text-decoration: none;
                        color: var(--highlight-color);
                        border-color: var(--highlight-color);
                    }
                    span {
                        font-weight: 400;
                        letter-spacing: .5px;
                    }
                }
                &.active a {
                    @media (min-width: $lg) {
                        background-color: var(--highlight-color);
                        color: var(--light-color);
                        border-color: var(--highlight-color);
                    }
                }
            }
        }
    }
    &-main {
        flex: 0 1 75%;
        padding: 2rem;
        border: 1px solid var(--border-color);
        border-radius: 3px;
        &-back {
            transition: .1s;
            font-size: 13px;
            line-height: 18px;
            color: var(--primary-color);
            font-weight: 500;
            display: none;
            align-items: center;
            gap: .25rem;
            margin-bottom: 1rem;
            background-color: var(--section-color);
            color: var(--dark-color);
            padding: .25rem .75rem;
            border-radius: 3px;
            position: absolute;
            top: .75rem;
            left: .75rem;
            &:hover {
                color: var(--highlight-color);
            }
        }
        @media (max-width: $lg) {
            flex: 0 0 100%;
            border-radius: 0;
            border: 0;
            padding: 0;
            display: none;
            &.active {
                display: block;
            }
            &.active &-back {
                display: flex;
            }
        }
        &-item {
            display: none;
            @media (max-width: $lg) {
                padding-bottom: 3rem;
            }
            &.active {
                display: block;
            }
            &-header {
                margin-bottom: 1.25rem;
            }
            &-section {
                &:not(:last-child) {
                    margin-bottom: 2.5rem;
                    @media (max-width: $lg) {
                        margin-bottom: 1.5rem;
                    }
                }
            }
            &-container {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: .5rem;
                @media (max-width: $lg) {
                    grid-template-columns: repeat(2, 1fr);
                }
                label {
                    border: 1px solid var(--border-color);
                    padding: 0.5rem;
                    border-radius: 3px;
                    display: flex;
                    align-items: flex-start;
                    input {
                        flex-shrink: 0;
                        margin: 1px 0.5rem 1px 0;
                    }
                    span {
                        display: inline-block;
                        font-size: 12px;
                        line-height: 14px;
                        color: var(--tertiary-color);
                        &::before {
                            content: "(";
                        }
                        &::after {
                            content: ")";
                        }
                    }
                }
            }
        }
    }
    &-container {
        display: flex;
        align-items: stretch;
        gap: 0 1rem;
        padding: 3rem;
        @media (max-width: $lg) {
            padding: 4.25rem 1.75rem 0;
            height: calc(100% - 105px);
        }
        @media (max-width: $sm) {
            padding: 4.25rem 1rem 0;
            height: calc(100% - 138px);
        }
    }
    &-main, &-menu {
        height: 500px;
        overflow-y: auto;
        @media (max-width: $lg) {
            height: unset;
        }
        &::-webkit-scrollbar-track {
            border: 3px solid transparent;
            padding: 2px;
            background-color: transparent;
        }
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 3px;
            background-color: var(--border-color);
        }
    }
    &-bottom {
        flex: 0 0 auto;
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: .5rem .75rem;
        background-color: var(--section-color);
        padding: 2rem 3rem;
        @media (max-width: $lg) {
            position: absolute;
            bottom: 0;
            padding: 1.75rem;
        }
        @media (max-width: $sm) {
            padding: 1rem;
            flex-direction: column;
            a, button {
                width: 100%;
            }
        }
    }
}