.manufacturers {
    &-outerbox {
        border-top: 1px solid var(--section-color);
        padding: 2rem 2rem 0;
    }
    &-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem 1.5rem;
    }
    &-item {
        flex: 0 0 calc((100% / 6) - 1.5rem);
        @media (max-width: $xl) {
            flex: 0 0 calc(25% - 1.5rem);
        }
        @media (max-width: $lg) {
            flex: 0 0 calc((100% / 3) - 1.5rem);
        }
        @media (max-width: $md) {
            flex: 0 0 calc(50% - 1.5rem);
        }
        @media (max-width: $sm) {
            flex: 0 0 100%;
        }
        a {
            @include flexCenter();
            height: 100%;
            img {
                max-height: 150px;
                max-width: 150px;
                object-fit: scale-down;
                width: fit-content;
                filter: grayscale(1);
                transition-duration: .25s;
            } 
            &:hover {
                img {
                    filter: grayscale(0);
                }
            }
        }
    }
}