.newsletter {
    padding: 4rem 0;
    @media (max-width: $md) {
        padding: 2.5rem 0;
    }
    &-form {
        width: fit-content;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: .75rem .5rem;
        @media (max-width: $md) {
            margin: 0;
        }
        input {
            background-color: var(--light-color);
            color: var(--dark-color);
            font-size: 15px;
            font-weight: 600;
            height: 51px;
            width: 420px;
            padding: .5rem 1.5rem;
            @media (max-width: $md) {
                width: auto;
            }
            @media (max-width: $sm) {
                width: 100%;
            }
        }
        button {
            border: 1px solid var(--light-color);
            height: 51px;
            padding: .5rem 1.5rem;
            color: var(--light-color);
            font-size: 15px;
            font-weight: 600;
            position: relative;
            transition: color .25s ease-in-out;
            @media (max-width: $sm) {
                padding: .5rem .75rem;
            }
            span {
                position: relative;
                z-index: 1;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 100%;
                height: 100%;
                width: 0;
                z-index: 0;
                background-color: var(--light-color);
                transition: width .25s ease-in-out;
            }
            &:hover {
                color: var(--dark-color);
                &::after {
                    left: 0;
                    width: 100%;
                }
            }
        }
    }
}