.news {
    &-outerbox {
        @media (max-width: $sm) {
            background-color: var(--section-color);
            margin-bottom: 1rem;
        }
    }
    &-innerbox {
        position: relative;
    }
    &-item {
        height: 100%;
        padding: 2rem;
        background-color: var(--section-color);
        @media (max-width: $sm) {
            padding: 2rem 0 2.5rem;
        }
        &-date {
            display: block;
            background-color: var(--dark-color);
            margin-bottom: 1rem;
            font-size: 12px;
            color: var(--light-color);
            font-weight: 400;
            width: fit-content;
            padding: .2rem .5rem;
            @media (max-width: $md) {
                margin: 0 0 1rem;
            }
        }
        &-title {
            position: relative;
            display: block;
            font-size: 15px;
            color: var(--secondary-color);
            font-weight: 700;
            margin-bottom: .25rem;
            svg {
                display: inline-block;
                opacity: 0;
                visibility: hidden;
                position: relative;
                margin-top: -3px;
                right: .125rem;
                z-index: -1;
                transition-duration: 0.1s;
                @media (max-width: $md) {
                    display: none;
                }
                path {
                    transition-duration: 0.1s;
                    fill: var(--secondary-color);
                }
            }
            &:hover {
                text-decoration: none;
                svg {
                    opacity: 1;
                    visibility: visible;
                    right: 0;
                    &, path {
                        fill: var(--highlight-color);
                    }
                }
            }
        }
        &-description {
            font-size: 13px;
            line-height: 22px;
            color: var(--secondary-color);
            font-weight: 400;
            margin-bottom: 0;
        }
    }
}