.popup {
    &-default {
        &-content {
            display: none !important;
            position: fixed;
            z-index: 111111;
            top: 0;
            left: 0;
            width: 100%;
            height: 100svh;
            @include flexCenter();
            background-color: #353535bf;
            &.active {
                display: flex !important;
            }
            &-normal {
                position: relative;
                background-color: var(--light-color);
                width: 600px;
                padding: 3rem;
                max-height: 80svh;
                overflow: auto;
                @media (max-width: $md) {
                    width: 100%;
                    padding: 3rem 1.5rem;
                    max-height: 100svh;
                }
            }
            &-filters {
                position: relative;
                background-color: var(--light-color);
                width: 80%;
                max-width: 1100px;
                padding: 0;
                @media (max-width: $xl) {
                    width: 90%;
                }
                @media (max-width: $lg) {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &-close {
            position: absolute;
            top: 1rem;
            right: 1rem;
            transition: .1s;
            &:hover {
                color: var(--highlight-color);
            }
        }
    }
    &-product {
        &-notification {
            background-color: var(--ok-color);
            padding: .75rem;
            @media (max-width: $sm) {
                padding: .75rem 1.5rem;
            }
            p {
                color: var(--light-color) !important;
                display: flex;
                align-items: center;
                gap: .1rem;
                svg {
                    flex-shrink: 0;
                }
            }
        }
        &-inner {
            padding: 2rem;
            @media (max-width: $sm) {
                padding: 1.5rem;
            }
        }
        &-footer {
            margin-top: 1.5rem;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            gap: .5rem;
            @media (max-width: $sm) {
                flex-direction: column;
                a, button {
                    width: 100%;
                }
            }
        }
        &-text.page-output {
            h4 {
                margin-bottom: .25rem;
            }
            p {
                font-size: 16px;
                color: var(--highlight-color);
                font-weight: 700;
            }
        }
        &-image {
            border: 1px solid var(--border-color);
            border-radius: 3px;
            margin-bottom: 1rem;
            width: 130px;
            aspect-ratio: 1 / 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .5rem;
        }
        &-bonus {
            margin-top: 1rem;
            &-item {
                display: flex;
                align-items: center;
                gap: .5rem;
                p {
                    color: var(--ok-color) !important;
                }
                svg {
                    flex-shrink: 0;
                    fill: var(--ok-color);
                }
            }
        }
    }
}