.products {
    &-row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-columns: auto;
        gap: 1rem;
        @media (max-width: $lg) {
            grid-template-columns: repeat(2, 1fr);
        }
        &-3col {
            grid-template-columns: repeat(3, 1fr);
            @media (max-width: $md) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
        @media (max-width: 350px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &-item {
        position: relative;
        & > a {
            text-decoration: none !important;
        }
        &-remove {
            position: absolute;
            top: .75rem;
            right: .75rem;
            @media (max-width: $sm) {
                top: .3rem;
                right: .3rem;
            }
            svg {
                fill: var(--highlight-color);
                width: 2rem;
            }
        }
        &-icons {
            position: absolute;
            top: 1rem;
            left: 1rem;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            img {
                max-height: 75px;
            }
        }
        &-tags {
            position: absolute;
            display: flex;
            flex-direction: column;
            z-index: 2;
            gap: .25rem;
            top: -1px;
            left: -1px;
            transition: all .25s ease-out;
            @media (max-width: $sm) {
                flex-direction: column-reverse;
            }
            & > img {
                max-width: 75px;
                margin: .75rem 1rem 1rem;
                @media (max-width: $sm) {
                    max-width: 55px;
                    margin: .5rem .75rem .75rem;
                }
            }
            span {
                display: block;
                min-width: 60px;
                text-align: center;
                padding: .25rem .5rem;
                @media (max-width: $sm) {
                    padding: .2rem .33rem;
                    min-width: 54px;
                }
            }
            &-bordered {
                border: 1px solid var(--primary-color);
                font-size: 12px;
                color: var(--primary-color);
                background-color: var(--light-color);
                font-weight: 700;
                @media (max-width: $sm) {
                    font-size: 11px;
                }
                &.green {
                    border-color: var(--ok-color);
                    color: var(--ok-color);
                }
                &.blue {
                    border-color: var(--info-color);
                    color: var(--info-color);
                }
                &.red {
                    border-color: var(--highlight-color);
                    color: var(--highlight-color);
                }
            }
            &-colored {
                &-red {
                    border: 1px solid var(--highlight-color);
                    font-size: 12px;
                    color: var(--light-color);
                    background-color: var(--highlight-color);
                    font-weight: 600;
                    @media (max-width: $sm) {
                        font-size: 11px;
                    }
                }
            }
        }
        &-badges {
            @extend .products-item-tags;
            right: 0;
            left: unset;
            & > img {
                max-width: 55px;
                margin: .75rem;
                @media (max-width: $sm) {
                    max-width: 45px;
                    margin: .5rem;
                }
            }
            &.large {
                right: 0rem;
                top: 3.5rem;
                & > img {
                    max-width: 51px;
                    margin: .25rem .4rem;
                }
            }
        }
        &-top {
            position: relative;
            border-radius: 3px;
            border: 1px solid var(--border-color);
            padding: 2rem;
            margin-bottom: .8rem;
            aspect-ratio: 1/1.2;
            @include flexCenter();
            @media (max-width: $sm) {
                padding: 1.75rem;
            }
            @media (max-width: 400px) {
                padding: 1.25rem;
            }
        }
        &-bottomicons {
            margin-top: .5rem;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: .75rem;
            img {
                max-height: 28px;
            }
        }
        &-imagebox {
            position: relative;
            width: 100%;
            img {
                width: 100%;
                aspect-ratio: 1/1.1;
                object-fit: scale-down;
                transition: all .25s ease-out;
            }
            &-hover {
                left: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                visibility: hidden;
                width: 100%;
                z-index: 1;
                background-color: var(--light-color);
            }
        }
        &-title {
            display: block;
            font-size: 14px;
            line-height: 22px;
            color: var(--primary-color) !important;
            font-weight: 600;
            margin-bottom: .25rem;
            text-decoration: none !important;
        }
        &-price {
            &-default {
                display: inline-block;
                font-size: 16px;
                color: var(--highlight-color);
                font-weight: 700;
            }
            &-old {
                display: inline-block;
                font-size: 13px;
                color: var(--menu-color);
                font-weight: 500;
                text-decoration: line-through;
                margin-left: 0.25rem;
            }
        }
        &-sizes {
            position: absolute;
            bottom: 1.75rem;
            left: 0;
            right: 0;
            visibility: hidden;
            opacity: 0;
            z-index: 1;
            transition: all .25s ease-out;
            @media (max-width: $xxl) {
                bottom: 0.75rem;
            }
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: .25rem;
                margin: 0;
                padding: 0 1rem;
                li {
                    background-color: var(--section-color);
                    min-width: 45px;
                    padding: 0 .2rem;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    line-height: 14px;
                    color: var(--secondary-color);
                    font-weight: 500;
                    @media (max-width: $xl) {
                        min-width: 30px;
                        height: 23px;
                    }
                }
            }
        }
        &:hover &-tags {
            visibility: hidden;
            opacity: 0;
        }
        &:hover &-sizes {
            visibility: visible;
            opacity: 1;
        }
        &:hover &-imagebox {
            img:first-child {
                visibility: hidden;
                opacity: 0;
            }
            img:last-child {
                visibility: visible;
                opacity: 1;
            }
        }
        &-banner {
            &-description {  
                margin-top: 0.8rem;
                h3 {  
                    display: block;
                    font-size: 14px;
                    line-height: 22px;
                    color: var(--primary-color) !important;
                    font-weight: 600;
                    text-decoration: none !important;
                    margin-bottom: 0;
                }
                span {  
                    display: block;
                    font-size: 14px;
                    line-height: 22px;
                    color: var(--menu-color) !important;
                    font-weight: 400;
                    text-decoration: none !important;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                            line-clamp: 2; 
                    -webkit-box-orient: vertical;
                }
            }
            &-box {
                display: block;
                width: 100%;
                aspect-ratio: 1/1.2;
                border-radius: 3px;
                text-decoration: none !important;
                &.onlytext {
                    @media (max-width: $lg) {
                        aspect-ratio: auto;
                        height: 100%;
                    }
                }
                &-inner {
                    padding: 2.5rem;
                    @media (max-width: $xxl) {
                        padding: 2rem;
                    }
                    @media (max-width: $sm) {
                        padding: 1.25rem;
                    }
                    &.page-output {
                        h3 {
                            font-size: 42px;
                            line-height: 52px;
                            margin-bottom: 1.5rem;
                            @media (max-width: $xxl) {
                                font-size: 28px;
                                line-height: 38px;
                                margin-bottom: 1rem;
                            }
                            @media (max-width: $sm) {
                                font-size: 24px;
                                line-height: 32px;
                                margin-bottom: .5rem;
                            }
                            @media (max-width: 400px) {
                                font-size: 20px;
                                line-height: 28px;
                            }
                            @media (max-width: 350px) {
                                font-size: 28px;
                                line-height: 38px;
                                margin-bottom: 1rem;
                            }
                        }
                        p {
                            font-size: 20px;
                            line-height: 30px;
                            @media (max-width: $xxl) {
                                font-size: 16px;
                                line-height: 26px;
                            }
                            @media (max-width: $sm) {
                                font-size: 15px;
                                line-height: 25px;
                            }
                            @media (max-width: 400px) {
                                font-size: 14px;
                                line-height: 24px;
                            }
                            @media (max-width: 350px) {
                                font-size: 16px;
                                line-height: 26px;
                            }
                        }
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 3px;
                }    
            }
            /*
            &-box {
                border-radius: 3px;
                text-decoration: none !important;
                img {
                    height: 100%;
                    object-fit: cover;
                    border-radius: 3px;
                    margin: 0 auto;
                }    
            }*/
            
        }
    }
    &-topselling {
        @media (max-width: $md) {
            .products {
                &-row {
                    grid-template-columns: 1fr;
                }
                &-item {
                    &-top {
                        padding: .5rem;
                        margin: 0;
                        flex-shrink: 0;
                        aspect-ratio: 1/1;
                        width: 85px;
                    }
                    &-tags {
                        display: none;
                    }
                    & > a {
                        display: flex;
                    }
                    &-imagebox {
                        img {
                            height: 65px;
                            aspect-ratio: 1/1;
                        }
                    }
                    &-bottom {
                        margin-left: 1rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
            }
        }
    }
    &-owl {
        position: relative !important;
        @media (max-width: $sm) {
            padding-bottom: 2rem;
        }
    }
}