#search-activator {
    &.active > div {
        background-color: var(--highlight-color);
        path {
            fill: var(--light-color);
        }
    }
}
.header-search {
    position: absolute;
    top: 100%;
    right: -1px;
    z-index: 2;
    width: fit-content;
    margin: 0 auto;
    overflow: hidden;
    transition: .5s;
    max-width: 0;
    &.open {
        max-width: 500px;
    }
    @media (max-width: $sm) {
        right: 0;
        width: 100%;
        &.open {
            max-width: 100%;
        }
    }
    &-inner {
        background-color: var(--light-color);
        border: 1px solid var(--border-color);
        padding: 1rem;
        @media (max-width: $sm) {
            border-left: 0;
            border-right: 0;
        }
    }
    &-form {
        flex-wrap: nowrap;
        input[type="text"] {
            min-width: 325px;
            border: none;
            background-color: var(--section-color);
            font-size: 14px;
            height: 52px;
            @media (max-width: $sm) {
                min-width: unset;
                width: 100%;
            }
        }
        button {
            flex-shrink: 0;
            height: auto;
            padding: .75rem;
            min-width: unset;
        }
    }
    &-results {
        padding: 1rem 0 0;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        &-item {
            background-color: var(--section-color);
            display: flex;
            align-items: center;
            gap: 1rem .75rem;
            padding: .5rem;
            &-image {
                flex-shrink: 0;
                img {
                    aspect-ratio: 1 / 1;
                    width: 50px;
                    object-fit: scale-down;
                    background-color: var(--light-color);
                }
            }
            span {
                font-size: 13px;
                line-height: 22px;
                color: var(--secondary-color);
                font-weight: 500;
            }
            &-text {
                span {
                    display: block;
                    &:first-child {
                        font-weight: 600;
                        transition: .15s;
                        @media (min-width: $sm) {
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                    }
                }
            }
            &:hover {
                text-decoration: none;
            }
            &:hover &-text span:first-child {
                color: var(--highlight-color);
            }
        }
    }
}