.owl-carousel {
    position: unset;
    .owl-nav {
        @media (max-width: $sm) {
            position: absolute;
            bottom: 0;
            left: 0;
            @include flexCenter();
            gap: .5rem;
            transform: translateY(50%);
        }
        button {
            position: absolute;
            top: 50%;
            @include flexCenter();
            background-color: var(--highlight-color) !important;
            width: 41px;
            aspect-ratio: 1/1;
            transition-duration: 0.15s;
            svg, path {
                fill: var(--light-color);
            }
            &.disabled {
                opacity: 0;
                visibility: hidden;
            }
            &.owl-prev {
                left: 0;
                transform: translate(-50%,-50%);
                svg {
                    transform: rotate(180deg);
                }
            }
            &.owl-next {
                right: 0;
                transform: translate(50%,-50%);
            }
            @media (max-width: $sm) {
                position: unset;
                transform: none !important;
                &.disabled {
                    opacity: .65;
                    visibility: visible;
                }
            }
        }
    }     
}